h3{
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin: 0px 0px 10px 20px;
}
h4{
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    
}
.wallet{
    border:1px solid #9B9B9B;
    background-color: #9B9B9B;
    width:300px;
    height:150px;
    
    display:flex;
    justify-content: center;
    align-items: center;
   padding-bottom: 20px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: #9B9B9B;

}
.first{
    display: flex;
    justify-content: space-around;
    border: 1px solid #626262;
    padding: 40px;
    background-color: #626262;
    
    margin: 0px 40px 10px 40px;
    border-radius: 20px;
}
.button1{
    background: linear-gradient(90deg, #B5DC52 0%, #89E148 100%);
    color: #FFFFFF;
    border-radius: 20px;
    border: #9DFF5B;
    padding: 10px;
    cursor: pointer;

}
.button2{
    background:linear-gradient(90deg, #FF9595 0%, #FF4747 80%, #FF3838 100%);
  color: #FFFFFF;
  border-radius: 20px;
  border: #FF4747;
  padding: 10px;
  cursor: pointer;

}
.Bottom{
    display: flex;
    justify-content: space-between;
    padding-bottom:10px;
}
@media(max-width:767px) {
   
    .first{
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .wallet{
        width: 240px;
       
        margin-bottom: 10px;
    }
    .Bottom{
        flex-direction: column;
       justify-content: center;
       align-items: center;

    }

    
}
