
.barhead{
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style:italic;
    font-size: 28px;
    margin: 0px 0px 10px 0px;
    

}
.headbar{
    background: #FFFFFF;
    margin-bottom: 10px;
    width:  600px;
    height: 250px;
    margin-right: 40px;
    border-radius: 10px;
}

@media(max-width:767px) {
    .headbar{
        width:300px
       }
       .start{
        margin-left: 30px;
       }
}